*{
    margin:0;
    padding:0;
}
.con{
    display:-webkit-flex;
    width:600px;
    background-color:deepskyblue;
}
.first{
    height:100px;
    -webkit-flex:1;
    background-color:orange;
}
#second{
    height:100px;
    -webkit-flex:1;
    background-color:aquamarine;
}
#third{
    height: 200px;
    -webkit-flex:1;
    background-color:darkgoldenrod;
}
