@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/*公共样式*/
blockquote, body, button, dd, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, select, td, textarea, th, ul {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Verdana,"Lantinghei SC","Hiragino Sans GB","Microsoft Yahei",Helvetica,arial,宋体,sans-serif;
}

#header img, #header ul, #header nav, #header div, #header span, #header a, #header i, #header h3 {
  white-space: nowrap;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  vertical-align: middle;
  box-sizing: border-box;
  font-family: Verdana, "Lantinghei SC", "Hiragino Sans GB", "Microsoft Yahei", Helvetica, arial, 宋体, sans-serif;
}

/*公共样式*/
ul li {
  list-style: none;
}

body {
  background: #f5f5f5;
}
