@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/*公共样式*/
blockquote, body, button, dd, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, select, td, textarea, th, ul {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Verdana,"Lantinghei SC","Hiragino Sans GB","Microsoft Yahei",Helvetica,arial,宋体,sans-serif;
}

#header img, #header ul, #header nav, #header div, #header span, #header a, #header i, #header h3 {
  white-space: nowrap;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  vertical-align: middle;
  box-sizing: border-box;
  font-family: Verdana, "Lantinghei SC", "Hiragino Sans GB", "Microsoft Yahei", Helvetica, arial, 宋体, sans-serif;
}

/*公共样式*/
ul li {
  list-style: none;
}

body {
  background: #f5f6f5;
}

#header {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #ececec;
  background: #fff;
}

#header .relative {
  position: relative;
}

#header .w-1000 {
  width: 1000px;
  height: 60px;
  margin: 0 auto;
  line-height: 60px;
}

#header .w-1000 .logo {
  width: 109px;
  height: 60px;
  display: inline-block;
  float: left;
  margin-right: 60px;
}

#header .w-1000 .logo img {
  width: 109px;
  height: 40px;
}

#header .w-1000 nav {
  width: 427px;
  height: 60px;
  display: inline-block;
  float: left;
}

#header .w-1000 nav a {
  color: #333;
}

#header .w-1000 nav li {
  width: auto;
  height: 60px;
  float: left;
  font-size: 14px;
  margin-right: 48px;
  display: inline-block;
  cursor: pointer;
}

#header .w-1000 nav li i {
  margin-left: 5px;
}

#header .w-1000 nav li i .arrow-icon {
  margin-bottom: 2px;
  width: 8px;
  height: 8px;
  border-top: 1px solid #c1c1c1;
  border-left: 1px solid #c1c1c1;
  transform-origin: 4px 4px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

#header .w-1000 nav .submenu {
  background: #fff;
  font-size: 12px;
  color: #666;
  width: 280px;
  height: auto;
  position: absolute;
  top: 61px;
  z-index: 1000;
  display: none;
}

#header .w-1000 nav .submenu h3 {
  margin: 10px 0;
  padding: 0 15px;
  background: #fafafa;
  height: 28px;
  line-height: 28px;
  font-weight: 300;
}

#header .w-1000 nav .submenu a {
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
}

.vip-lesson i, .school-list i {
  background: url("http://e.jikexueyuan.com/headerandfooter/images/allicon.png") 0 0 no-repeat;
  background-size: 64px 64px;
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-right: 10px !important;
}

.vip-lesson .web-icon, .school-list .web-icon {
  background-position: -15px -27px;
}

.school-list i.python-icon,
.school-list i.go-icon,
.school-list i.php-icon,
.school-list i.java-icon,
.school-list i.ios-icon,
.school-list i.android-icon {
  background: url("http://e.jikexueyuan.com/headerandfooter/images/allicon4.png") 0 0 no-repeat;
  background-size: 16px 148px;
}

.school-list i.android-icon {
  background-position: 0 -100px;
  background-position: -2px -60px;
}

.school-list i.go-icon {
  background-position: -2px -38px;
}

.vip-lesson .kck-icon, .school-list .kck-icon {
  background-position: 0 -13px;
}

.vip-lesson .zyljt-icon, .school-list .zyljt-icon {
  background-position: -45px 0;
}

.vip-lesson .zstxt-icon, .school-list .zstxt-icon {
  background-position: -30px -13px;
}

.vip-lesson .xlkc-icon {
  background: url("http://e.jikexueyuan.com/headerandfooter/images/xlkc2.png") 0 0 no-repeat;
  background-position: 0 0;
  background-size: 12px 12px;
}

.vip-lesson .kcbq-icon, .school-list .kcbq-icon {
  background-position: -15px -13px;
}

.vip-lesson .vip-icon, .school-list .vip-icon {
  background-position: -16px 0;
}

.loginlist dl {
  position: absolute;
  z-index: 1001;
}

.loginlist .submenu dd a.reg-btn,
.loginlist .submenu dd a.login-btn {
  width: 45%;
  height: 35px;
  line-height: 30px;
  padding: 0 10px;
  display: inline-block;
  text-align: center;
}

.loginlist .submenu {
  background: #fff;
  position: absolute;
  width: 120px;
  top: 36px;
  right: -6px;
  display: none;
}

.loginlist .submenu dd {
  text-align: left;
  font-size: 12px;
  line-height: 35px;
  vertical-align: middle;
  margin: 0;
  padding-left: 10px;
}

.loginlist .submenu dd a {
  color: #666;
  height: 35px;
  line-height: 35px;
  display: block;
  text-align: center;
}

.loginlist .submenu .top-icon {
  width: 15px;
  height: 15px;
  border-top: 1px solid #ececec;
  border-left: 1px solid #ececec;
  display: inline-block;
  background: #fff;
  position: absolute;
  top: -8px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 50px;
}

.icon-box .app-icon .submenu img {
  width: 100%;
}

#header .w-1000 nav .vip-lesson {
  padding: 10px 0;
}

#header .w-1000 nav .vip-lesson a {
  display: block;
  height: 40px;
  line-height: 40px;
  color: #666;
}

#header .w-1000 nav .vip-lesson a span {
  color: #bbb;
  float: right;
}

#header .w-1000 .icon-box {
  float: right;
  width: 200px;
  height: 60px;
  margin-right: 10px;
}

#header .w-1000 .icon-box span {
  width: 60px;
  height: 17px;
  display: inline-block;
  margin-left: -10px;
  cursor: pointer;
}

#header .w-1000 .icon-box .app-icon {
  background: url("http://e.jikexueyuan.com/headerandfooter/images/app-icon.png") 0 0 no-repeat;
  background-size: 17px 17px;
  background-position: 0 center;
}

#header .w-1000 .icon-box .login-icon {
  background: url("http://e.jikexueyuan.com/headerandfooter/images/login-icon.png") 0 0 no-repeat;
  background-size: 17px 17px;
  background-position: 0 center;
}

#header .w-1000 .search-icon {
  background: url("http://e.jikexueyuan.com/headerandfooter/images/search-icon.png") 0 0 no-repeat;
  background-size: 17px 17px;
  background-position: 0, 0;
  width: 17px;
  height: 17px;
  display: inline-block;
}

#header .w-1000 .searchbox {
  width: 850px;
  height: 59px;
  line-height: 59px;
  position: absolute;
  z-index: 11000;
  top: 0px;
  right: 6px;
  display: none;
  background: #fff;
}

#header .w-1000 .searchbox input {
  width: 400px;
  height: 27px;
  line-height: 40px;
  margin-top: 17px;
  font-size: 12px;
  vertical-align: top;
  margin-left: 10px;
}

#header .w-1000 .searchbox .tagbox {
  width: 286px;
  text-align: right;
  display: inline;
  margin-right: 50px;
  position: relative;
  right: -200px;
  top: -3px;
}

#header .w-1000 .searchbox .tagbox a {
  font-size: 12px;
  color: #808080;
  background: #f5f5f5;
  padding: 3px 5px;
  margin-left: 10px;
}

#header .w-1000 .searchbox .close-icon {
  width: 15px;
  height: 15px;
  margin-top: 22px;
  cursor: pointer;
  background: url("http://e.jikexueyuan.com/headerandfooter/images/close-icon.png") 0 0 no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: 0;
  z-index: 1200;
  color: #333333;
}

/*内容开始部分*/
.w-1000 {
  width: 1000px;
  margin: 0 auto;
  clear: both;
}

.mar-t20 {
  margin-top: 20px !important;
}

/*main部分*/
#main {
  width: 776px;
  height: 600px;
}

.f_r {
  float: right;
}

.sort {
  position: relative;
  z-index: 500;
}

.sort > .wrap {
  box-sizing: content-box;
  height: 38px;
  background: #fff;
  color: gray;
  line-height: 38px;
}

.tagGather > .bd {
  color: #666;
  font-size: 12px;
  line-height: 1.5;
}

.sort .sortMode {
  position: absolute;
  z-index: 250;
  float: left;
  height: 38px;
}

.sort .sortMode h3 {
  float: left;
  padding: 0 21px;
  background: #fff;
  border-right: 1px solid #f5f5f5;
  font-size: 12px;
  font-weight: 400;
  cursor: default;
}

.sort .sortMode > dl {
  position: relative;
  z-index: 10;
  float: left;
  height: 36px;
  margin: 0 1px 0 -1px;
  white-space: nowrap;
}

.sort .sortMode dt {
  padding: 0 18px;
  cursor: default;
}

.sort .sortMode dd {
  position: relative;
  z-index: 12;
  background: #fff;
  border: 1px solid #fff;
  display: none;
}

.sort .sortMode dd a {
  padding: 0 32px 0 17px;
  font-weight: 500;
  color: gray;
  text-decoration: none;
}

.sort .previewMode {
  float: right;
}

.previewMode li {
  position: relative;
  float: left;
  width: 36px;
  height: 38px;
  border-left: 1px solid #f5f5f5;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
}

.previewMode li img {
  width: 14px;
  margin-top: 11px;
}

/*内容下的图片列表部分*/
.lesson-list ul {
  margin-top: 15px;
}

.lesson-list ul li {
  width: 250px;
  height: 225px;
  float: left;
  margin-left: 13px;
  margin-bottom: 13px;
}

.lesson-list ul li:nth-child(1),
.lesson-list ul li:nth-child(4),
.lesson-list ul li:nth-child(7) {
  margin-left: 0;
}

.lesson-list .lessonimg-box .lessonimg {
  width: 100%;
  height: 135px;
}

.lessonimg-box a {
  display: block;
  width: 100%;
  height: 135px;
  position: relative;
}

.lesson-list .lesson-infor {
  padding: 10px;
  position: relative;
  z-index: 200;
  overflow: hidden;
  background: #fff;
}

.lesson-info-h2 {
  width: 230px;
  height: 36px;
  font-size: 14px;
  color: #ccc;
  line-height: 18px;
  margin-bottom: 12px;
}

.lesson-info-h2 a {
  color: #333;
}

#changeid .lesson-info-p {
  color: gray;
  font-size: 12px;
  line-height: 18px;
  height: 0;
  display: none;
  margin-bottom: 30px;
}

.lesson-list .lesson-infor .timeandicon dl {
  width: 120px;
  height: 17px;
  float: left;
  white-space: nowrap;
}

.lesson-list .lesson-infor .timeandicon .time-icon {
  background: url(http://s1.jikexueyuan.com/common/images/clok_a413ecf.png) 0 0 no-repeat;
  width: 14px;
  height: 14px;
  display: block;
  float: left;
  margin-right: 8px;
  background-size: 14px 14px;
}

.mar-b8 {
  margin-bottom: 8px;
}

.learn-number {
  float: right;
}

.lesson-infor .timeandicon .xinhao-icon {
  background: url(http://s1.jikexueyuan.com/common/images/tow-ji_ec2b553.png) 0 0 no-repeat;
  background-size: 14px 14px;
  width: 14px;
  height: 14px;
  display: block;
  float: left;
  margin-right: 8px;
}

.lesson-list .lessonplay {
  background: #000;
  background: rgba(0, 0, 0, 0.4);
  width: 250px;
  height: 135px;
  z-index: 100;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.lesson-list .lessonplay img {
  width: 50px;
  position: relative;
  left: 50%;
  top: 43px;
  margin-left: -25px;
}

/*内容部分标签切换部分*/
.lesson-list2 {
  display: none;
}

.content {
  display: block;
}

/*内容部分结束*/
/*左边部分列表部分*/
#aside {
  width: 210px;
  height: 555px;
  float: left;
  background: #fff;
}

.aside-allCategory {
  margin: 0;
  border: 1px solid #35b558;
  background-color: #fff;
}

.aside-allCategory > .hd {
  height: 45px;
  padding: 0 32px;
  border-bottom: 1px solid #eee;
  line-height: 45px;
  cursor: default;
}

.aside-allCategory > .hd h2 {
  position: relative;
  font-size: 14px;
  font-weight: 400;
}

.aside-allCategory > .hd h2 a {
  color: #35b558;
}

.aside-allCategory > .hd .icon-course-curr {
  display: block;
  width: 15px;
  height: 15px;
  background: url(http://s1.jikexueyuan.com/common/images/icon-course-curr_0743c98.png) no-repeat 0 0/15px 15px;
  position: absolute;
  margin-left: -20px;
  margin-top: 14px;
}

.aside-cList {
  position: relative;
  width: 208px;
}

.aside-cList li > div {
  cursor: pointer;
  height: 37px;
  border-bottom: 1px solid #f5f5f5;
  background: url(http://s1.jikexueyuan.com/common/images/icon-more_cd68622.png) 186px center no-repeat;
  background-size: 6px 10px;
  padding-left: 32px;
}

.aside-cList li > div a {
  font-size: 12px;
  color: #666;
  line-height: 36px;
}

.aside-cList li > div .list-show {
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  min-height: 318px;
  min-width: 401px;
  background: #fff;
  border: 1px solid #ddd;
  position: absolute;
  left: 209px;
  top: -46px;
  z-index: 1101;
  list-style: none;
  margin-left: -1px;
  padding-bottom: 30px;
  float: left;
  display: none;
}

.aside-cList li > div .list-show dl {
  margin: 0 15px;
  overflow: hidden;
}

.aside-cList li > div .list-show dt {
  display: block;
  border-bottom: 1px solid #f5f5f5;
  height: 37px;
  line-height: 45px;
}

.aside-cList li .list-show dt > a {
  color: #333;
  font-size: 13px;
  font-weight: bold;
}

.aside-cList li > div a {
  font-size: 12px;
  color: #666;
  line-height: 36px;
}

#aside-cList > li:hover {
  background: #eae5e5;
  width: 212px;
}

.aside-cList li:hover > div > a {
  color: #35b558;
  font-size: 14px;
  -webkit-transform: translate(-10px, 0px);
  -moz-transform: translate(-10px, 0px);
  transform: translate(-10px, 0px);
  transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -moz-transition: all 0.3s ease-in 0s;
}

.aside-cList li .list-show dd {
  margin-left: -8px;
  padding: 3px 0;
}

.aside-cList li .list-show dd a {
  height: 14px;
  line-height: 14px;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 0 7px;
  color: #666;
  display: inline-block;
  font-size: 12px;
  border-left: 1px solid #e0e0e0;
  float: left;
  white-space: nowrap;
  font-weight: 500;
}

.hdlist {
  width: 100%;
  background-color: #fff;
}

.hdlist li {
  height: 45px;
}

#hdlist {
  margin-top: 15px;
  margin-left: -12px;
}

#hdlist a {
  display: block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #333;
  font-size: 14px;
  padding-left: 10px;
}

#hdlist a span {
  color: #bbb6b6;
  font-size: 12px;
  padding-left: 41px;
  margin-right: 11px;
  float: right;
  opacity: 0;
}

#hdlist a:hover {
  color: #35b558;
}

.lesson-list2 ul li {
  height: 100px;
  padding: 0;
  background-color: #fff;
  margin-top: 13px;
}

.lesson-list2 .lessonplay {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;
  left: 0;
  top: 0;
  height: 100px;
  display: none;
}

.lesson-list2 .lessonplay img {
  width: 50px;
  position: relative;
  left: 50%;
  top: 25px;
  margin-left: -25px;
}

.lesson-list2 .lessonplay .playericon {
  position: absolute;
  z-index: 120;
  width: 50px;
  height: 50px;
  display: block;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  top: 50%;
  background: url(http://s1.jikexueyuan.com/course/images/player_icon_5c67475.png) no-repeat;
  background-size: 50px 50px;
  cursor: pointer;
}

.lesson-list2 .lessonimg-box {
  width: 185px;
  height: 100px;
  float: left;
  margin-right: 15px;
  position: relative;
}

.lesson-list2 .lessonimg-box .lessonimg {
  width: 185px;
  height: 100px;
}

.lesson-list2 .lesson-infor {
  position: relative;
  width: 566px;
  height: 100px;
  float: left;
}

.lesson-list2 .lesson-infor .lesson-info-h2 {
  font-size: 14px;
  color: #333;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
}

.lesson-list2 .lesson-infor .lesson-info-h2 a {
  color: #333;
}

.lesson-list2 .lesson-infor p {
  color: gray;
  font-size: 12px;
  opacity: 1 !important;
  line-height: 18px;
  overflow: hidden;
  margin-bottom: 10px;
  display: block;
}

.timeandicon dl dd {
  font-size: 12px;
  float: left;
  display: inline-block;
  margin-right: 15px;
}

#changeid1.lesson-infor .timeandicon .xinhao-icon2 {
  background: url(http://s1.jikexueyuan.com/common/images/tow-ji_ec2b553.png) 0 0 no-repeat;
  background-size: 14px 14px;
  width: 14px;
  height: 14px;
  display: block;
  float: left;
  margin-right: 8px;
}

#changeid1 .learn-number {
  float: right;
  font-size: 12px;
}

#changeid .timeandicon .time-icon {
  background: url(http://s1.jikexueyuan.com/course/images/icon_7f8b929.png) 0 -72px no-repeat;
  width: 14px;
  height: 14px;
  display: block;
  float: left;
  margin-right: 8px;
}

#footer {
  min-width: 1000px;
  border-top: 1px solid #e4e4e4;
  background: #fff;
  top: 132%;
  position: absolute;
  width: 100%;
}

#footer .mar-t50 {
  margin-top: 50px !important;
}

#footer .jkinfor-block {
  background: #fff;
}

#footer .jkinfor-block .jkinfor {
  position: relative;
  width: 1000px;
  height: 215px;
  margin: 0 auto;
  border-bottom: 1px solid #f5f5f5;
  padding-left: 224px;
  padding-top: 25px;
  box-sizing: border-box;
}

#footer .jkinfor-block .jkinfor .jk-logo {
  position: absolute;
  left: 0;
  top: 25px;
  display: inline-block;
  width: 160px;
}

#footer .jkinfor-block .jkinfor .jk-logo img {
  width: 109px;
  height: 40px;
  display: block;
}

#footer .jkinfor-block .jkinfor .jk-logo p {
  font-size: 12px;
  color: #999;
  margin-top: 20px;
}

#footer .jkinfor-block .jkinfor dl {
  width: 135px;
  color: #808080;
  float: left;
}

#footer .jkinfor-block .jkinfor dl dt {
  font-size: 14px;
  line-height: 30px;
}

#footer .jkinfor-block .jkinfor dl dd {
  font-size: 12px;
  line-height: 30px;
}

#footer .jkinfor-block .jkinfor dl dd a {
  color: #999999;
}

#footer .jk-down {
  position: absolute;
  right: 0;
  top: 25px;
  display: inline-block;
  width: 175px;
  text-align: left;
}

#footer .jk-down .hot-tel {
  color: #808080;
  font-size: 14px;
  margin-bottom: 20px;
}

#footer .jk-down .downCon {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 30px;
  border: 1px solid #eeeeee;
  margin-bottom: 10px;
  line-height: 30px;
  color: #808080;
  font-size: 13px;
  padding-left: 40px;
  cursor: pointer;
}

#footer .jk-down .downCon img {
  width: 115px;
  height: 153px;
  position: absolute;
  top: -157px;
  left: 12px;
  z-index: 2;
  display: none;
}

#footer .jk-down .down-ios {
  background: url(http://e.jikexueyuan.com/headerandfooter/images/icon-down-ios.png) no-repeat 0 0;
  background-size: 30px 30px;
}

#footer .jk-down .down-and {
  background: url(http://e.jikexueyuan.com/headerandfooter/images/icon-down-and.png) no-repeat 0 0;
  background-size: 30px 30px;
}

#footer .copyright {
  font-size: 12px;
  color: #999;
  margin: 0 auto;
  width: 1000px;
  text-align: center;
  padding: 15px 0;
}

#footer .copyright strong {
  font-weight: 400;
}

#footer .copyright a {
  color: #999;
}

#footer .copyright a .down-sina {
  float: right;
  width: 15px;
  height: 20px;
  margin-right: 10px;
  background: url(http://e.jikexueyuan.com/headerandfooter/images/icon-down-sina.png) no-repeat 0 0;
  background-size: 20px 15px;
}
